<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
   <ion-card-header>
     <ion-card-title>Are you a very Naise person?</ion-card-title>
   </ion-card-header>
 

 <ion-card-content>
 <ion-list>
  <ion-radio-group>

    <ion-item>
      <ion-label>Very Naise</ion-label>
      <ion-radio value="yes" slot="start"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Not Very Naised</ion-label>
      <ion-radio value="no" slot="start"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>
 </ion-card-content>
</ion-card>

<!-- ------------------------------------------------------------------------- -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Registration Info</ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="floating">Mobile Number</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item> 

</ion-card>
<!-- ------------------------------------------------------------------------- -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Address</ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-label position="floating">Address Number</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Street Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Township</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">State</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Country</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-card>

<ion-button size="full" color="light" (click)="registered()">Submit</ion-button>
</ion-content>
