<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
      
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-avater slot="start">
        <img class="imGcontainer" src="https://cdn-icons.flaticon.com/png/512/2202/premium/2202112.png?token=exp=1647329200~hmac=d88c6a182ef1f496939e48bf14930c52" alt="DON PAUBLO"/>
      </ion-avater>
      <ion-label>
        <h1>Don Paublo</h1>
        <h2>Agent ID: G0486806R</h2>
        <h3>Assignment: <br> <span>Operation TailWind</span></h3>
        <h3>Allocated Time: <span>NA</span></h3>
        
        <ion-button class="profileBtn" color="light">
          <ion-icon name="folder-outline"></ion-icon>
          View status report</ion-button>
        <br>
        <ion-button class="profileBtn" color="danger">
          <ion-icon name="ban-outline"></ion-icon> 
          Abort Mission</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avater slot="start">
        <img class="imGcontainer" src="https://cdn.pixabay.com/photo/2021/09/30/08/53/woman-6669461_960_720.png" alt="Everlin Salt"/>
      </ion-avater>
      <ion-label>
        <h1>Everlin Salt</h1>
        <h2>Agent ID: H1548798T</h2>
        <h3>Assignment: <br><span>Operation TailWind</span></h3>
        <h3>Allocated Time: <span>NA</span></h3>
        
        <ion-button class="profileBtn" color="light">
          <ion-icon name="folder-outline"></ion-icon>
          View status report</ion-button>
        <br>
        <ion-button class="profileBtn" color="danger">
          <ion-icon name="ban-outline"></ion-icon> 
          Abort Mission</ion-button>
      </ion-label>
    </ion-item>

    <ion-item class="flexTopdown">
      <ion-avater slot="start">
        <img class="imGcontainer" src="https://cdn.pixabay.com/photo/2022/02/25/23/22/woman-7034972__340.png" alt="Gwen Scarlet"/>
      </ion-avater>
      <ion-label>
        <h1>Gwen Scarlet</h1>
        <h2>Agent ID: H14487586T</h2>
        <h3>Assignment: <br><span>Operation MiaMi Storm</span></h3>
        <h3>Allocated Time: <span>7M14D</span></h3>
        
        <ion-button class="profileBtn" color="light">
          <ion-icon name="folder-outline"></ion-icon>
          View status report</ion-button>
        <br>
        <ion-button class="profileBtn" color="danger">
          <ion-icon name="ban-outline"></ion-icon> 
          Abort Mission</ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avater slot="start">
        <img class="imGcontainer" src="https://cdn.pixabay.com/photo/2016/08/20/05/36/avatar-1606914__340.png" alt="Sabina Hamad"/>
      </ion-avater>
      <ion-label>
        <h1>Hamad Sabina</h1>
        <h2>Agent ID: H1444874T</h2>
        <h3>Assignment: <br> <span>Operation Demascustus</span></h3>
        <h3>Allocated Time: <span>1Y3M</span></h3>
        
        <ion-button class="profileBtn" color="light">
          <ion-icon name="folder-outline"></ion-icon>
          View status report</ion-button>
        <br>
        <ion-button class="profileBtn" color="danger">
          <ion-icon name="ban-outline"></ion-icon> 
          Abort Mission</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
 
  
</ion-content>
